# To remove: git rm --cached 

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Temporary test files
request.json
sendRequest.bash

### draft files
src/main/java/com/Spanish_conjugator/Conjugator.java
src/main/java/com/Spanish_conjugator/IrregularVerb.java
src/main/java/com/Spanish_conjugator/PresentEndings.java
src/main/java/com/Spanish_conjugator/PresentIrregular.java
src/main/java/com/Spanish_conjugator/PresentStemChanger.java
src/main/java/com/Spanish_conjugator/ReflexivePronouns.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
